@import '../../../Common/scss/mixin';

.button {
  background-color: $gray-color;
  height: 3.75rem;
  margin: 0.3125rem;
  padding-top: 0.1875rem;
  width: 98%;
}

.button:hover {
  background-color: $gray-two-color;
}

.button:focus {
  background-color: $gray-two-color;
}

.button:hover .texthover,
.button:hover .loading {
  color: rgba(22, 36, 76, 1);
}
