@import '../../../Common/scss/mixin';

.datamessage {
  display: flex;
  @include mq($phone-large) {
    flex-direction: column;
    width: 100%;
  }
}

.containerform {
  box-sizing: border-box;
  padding: 0.625rem;
  width: 34.375rem;
  @include mq($phone-large) {
    padding: 0;
    width: 100%;
  }
}

