@import '../../../Common/scss/mixin';

.input {
  $size: 0.3125rem;
  $min-size: 0.0625rem;
  align-items: center;
  background-color: $form-color;
  border: solid $min-size $gray-color;
  border-radius: $min-size*2;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  margin: $size $size 0 $size;
  padding: $size ($size*2);
}

.item {
  color: $main-color;
  margin: 1em;
}

.icon {
  color: $main-color;
}
