@import '../../Common/scss/mixin';

.root {
  $value: 0.3125rem;
  min-height: 100vh;
  padding: $value 0 ($value*10) ($value*9);
  position: absolute;
  width: 100%;
  @include mq($phone-large) {
    padding-left: 0;
    padding-top: 3.125rem;
  }
}

.grid {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(auto-fill, minmax(18.125rem, 19.0625rem));
  grid-template-rows: repeat(auto-fill, minmax(13.125rem, 14.375rem));
  height: 100vh;
  justify-content: center;
  width: 100%;
}
