
  .data_message {
    display: flex;
  }
  .containerForm {
    width: 550px;
    padding: 10px;
    box-sizing: border-box;
  }

  @media all and (max-width: 425px) {
    .containerForm {
      width: 100%;
      padding: 0;
    }
    .data_message {
      width: 100%;
      flex-direction: column;
    }
  }