  
  .input {
    flex: 1;
    margin: 5px 5px 0 5px;
    background-color: rgba(22, 36, 76, 0.7);
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: solid 1px rgba(255, 255, 255, 0.21);
  }
  
  .item {
    margin: 1em;
    color: white;
  } 
    
  .icon {
    color: white;
  }

