@import "../common/Scss/mixin";

.root {
  display: flex;

  .icon {
    color: var(--white);
    font-size: rem(30);
    margin-left: rem(20);

    @include mq($bk-s) {
      grid-column: 1;
      margin-left: 0;
      margin-right: rem(20);
    }

    &::after {
      background-color: var(--white);
      content: ' ';
      display: block;
      height: rem(2);
      margin: 0 auto;
      transition: width .2s ease-in-out;
      width: 0;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
