@import '../Common/scss/mixin.scss';

.root {
  $background-height: rem(120);
  position: relative;
  margin-top: - $background-height;

  .backgroundTop,
  .backgroundBottom {
    background-color: $primary;
    width: 100%;
    height: $background-height;
    clip-path: polygon(0 0, 10% 10%, 100% 100%, 0 100%);

    @include mq($bk-m) {
      $background-height: rem(80);
      height: $background-height;
    }

    @include mq($bk-s) {
      $background-height: rem(60);
      height: $background-height;
    }
  }

  @include mq($bk-m) {
    $background-height: rem(80);
    margin-top: - $background-height;
  }

  @include mq($bk-s) {
    $background-height: rem(60);
    margin-top: - $background-height;
  }

  .backgroundBottom  {
    transform: rotate(180deg);
  }

  .text {
    margin: 0;
    line-height: rem(36);
    font-weight: $font-light;
    max-width: rem(1024);
    text-align: center;

    @include mq($bk-m) {
      text-align: left;
    }
  }

  .content {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $secondary;
    z-index: 1;
    padding: rem(30);
  }
}
