---
import { getCollection } from 'astro:content';
import Layout from '../layouts/general.astro';
import Blog from '../components/card-blog.astro';
import Project from '../components/card-project.astro';
import H2 from '../components/h2.astro';
import H1 from '../components/h1.astro';
import P from '../components/p.astro';
import A from '../components/a.astro';
import Social from '../components/social.astro';
import Nav from '../components/nav.astro';

const blogs = await getCollection('blog');
---

<Layout title="Juansereina">
  <Nav />
  <main class="mb-8 sm:mb-10">
    <!-- Introduction -->
    <div class="text-white mb-8 sm:mb-10">
      <H1 classes="text-center md:text-start mb-4 md:mb-6 lg:mb-8">
        Hola, soy
        <span
          class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-cyan-300"
          >Juansereina</span
        >
        👋
      </H1>
      <P classes="max-w-md mb-4 md:mb-6 lg:mb-8">
        Soy <strong>Web Developer</strong>, aquí comparto algunas ideas sobre
        cosas creativas con código, libros y temas de mi interes 🤪 🍔
      </P>
      <Social />
    </div>
    <!-- End -->
    <!-- Post -->
    <div class="flex items-baseline">
      <H2
        text="Últimos"
        strongText="Posts"
        classes="flex flex-1 mb-4 md:mb-6 lg:mb-8"
      />
      <A href="">
        <span class="text-white">
          Ver todos
          <i class="fa-solid fa-circle-arrow-right text-sm"></i>
        </span>
      </A>
    </div>
    <ul class="flex max-sm:flex-wrap mb-8 sm:mb-10 gap-4">
      {
        blogs.map((blog) => (
          <Blog title={blog.data.title} href={`/blog/${blog.slug}`} />
        ))
      }
    </ul>
    <!-- End -->
    <!-- Projects -->
    <div class="2">
      <H2 text="Más recientes" strongText="Proyectos" classes="flex flex-1" />
    </div>
    <ul class="mt-4 flex flex-col gap-1">
      <Project title="Prime" href="" />
      <Project title="Prueba" href="" />
      <Project title="Otra prueba" href="" />
    </ul>
    <!-- End -->
  </main>
  <footer>
    <hr class="mb-4 md:mb-6 lg:mb-8" />
    <Social classes="ml-auto" />
  </footer>
</Layout>
