@import '../Components/common/Scss/mixin';

body {
  background-color: var(--tertiary);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

* {
  font-family: var(--font);
  line-height: 150%;
  transition: all .2s ease-in-out;
}

a {
  text-decoration: none;
}

p {
  font-size: rem(18);

  @include mq($bk-s) {
    font-size: rem(16);
  }
}

h1 {
  font-size: rem(42);
  font-weight: var(--font-bold);

  @include mq($bk-m) {
    font-size: rem(38);
  }

  @include mq($bk-s) {
    font-size: rem(34);
  }
}

h2 {
  font-size: rem(38);
  font-weight: var(--font-light);

  @include mq($bk-m) {
    font-size: rem(34);
  }

  @include mq($bk-s) {
    font-size: rem(30);
  }
}

strong {
  font-weight: var(--font-bold);
  letter-spacing: rem(.5);
}

:global {
  .dark {
    --primary: #00f8f8;
    --secondary: #075669;
    --typography-color: #fff;
    --tertiary: #000;
  }
}
