@import '../Components/Common/scss/mixin.scss';

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

* {
  font-family: $font;
  line-height: 150%;
}

a {
  text-decoration: none;
}
