@import '../Components/Common/scss/mixin.scss';

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

* {
  font-family: $font;
  line-height: 150%;
}

a {
  text-decoration: none;
}

p {
  font-size: rem(18);

  @include mq($bk-m) {
    font-size: rem(16);
  }

  @include mq($bk-s) {
    font-size: rem(14);
  }
}

h1 {
  font-size: rem(42);
  font-weight: $font-bold;

  @include mq($bk-m) {
    font-size: rem(38);
  }

  @include mq($bk-s) {
    font-size: rem(34);
  }
}

h2 {
  font-size: rem(38);
  font-weight: $font-light;

  @include mq($bk-m) {
    font-size: rem(34);
  }

  @include mq($bk-s) {
    font-size: rem(30);
  }
}

strong {
  font-weight: $font-bold;
}
