.root{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding-left: 50px;
}

.grid{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 310px));
  grid-template-rows: repeat(auto-fill, minmax(210px, 230px)); 
  justify-content: center;
}

@media all and (max-width: 425px) {
  .root {
      padding-left: 0;
      padding-top: 50px;
  }
}