.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log_top {
    display: flex;
}

@media all and (max-width: 330px){
    .root {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }
    .image {
        width: 95%;
    }
    .log_bottom {
        width: 80%;
    }
}