@import '../../Common/scss/mixin';

.root {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-left: 3.125rem;
  position: absolute;
  width: 100%;
  @include mq($phone-large) {
    padding-left: 0;
    padding-top: 3.125rem;
  }
}

.subroot {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  @include mq($phone-large) {
    align-items: baseline;
  }
}
