@import '../Common/scss/mixin';

.root {
  $size-w: 3.125rem;
  align-items: center;
  background-color: $depp-blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0;
  min-height: 31.25rem;
  padding: 1em 0;
  position: absolute;
  width: $size-w;
  z-index: 3;
  @include mq($phone-large) {
    background-color: $depp-blue;
    flex-direction: row;
    height: $size-w;
    min-height: $size-w;
    width: 100%;
  }
}

.logo {
  flex: 1;
  @include mq($phone-large) {
    display: none;
  }
}

.social {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  @include mq($phone-large) {
    display: none;
  }
}

.link {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  @include mq($phone-large) {
    flex-direction: row;
    font-size: 1.25rem;
    justify-content: space-around;
  }
}

.icon {
  color: $main-color;
  margin: 0.5em 0;

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: $light-blue;
  }
}

