.root {
    width: 50px;
    height: 101.8%;
    position: absolute;
    margin: 0;
    z-index: 3;
    min-height: 500px;
    background-color: #02162b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    box-sizing: border-box;
}


.icon {
    color: aliceblue;
    margin: 0.5em 0;
}

.icon:hover {
    color: #00ffef;

}

.logo{
    flex: 1;
}

.link{
    flex-direction: column;
    flex: 3;
    display: flex;
    justify-content: center;
}

.social{
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
