---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li class="w-full bg-white bg-opacity-10 p-2 rounded">
  <a href={href} class="w-full text-white flex items-center">
    <p class="flex-1">
      {title}
    </p>
    <i class="fa-solid fa-circle-arrow-right"></i>
  </a>
</li>
