---
export interface Props {
  text: string;
  strongText: string;
  classes: string;
}
const { text, strongText, classes } = Astro.props;
---

<h2 class={`text-white text-xl sm:text-2xl font-semibold ${classes}`}>
  {text}
  <span
    class="bg-clip-text text-transparent bg-gradient-to-r from-sky-400 to-cyan-300 ml-2"
  >
    {strongText}
  </span>
</h2>
