---
import { getLanguageFromURL } from '@/utils';

const { pathname } = Astro.url;
const lang = getLanguageFromURL(pathname);
---

<select id="lang-select" class="bg-transparent">
  <option value="en" selected={lang === 'en'}>🇺🇸 English</option>
  <option value="es" selected={lang === 'es'}>🇨🇴 Español</option>
</select>

<script>
  import { saveLang } from '@/helpers/storage';
  import { stripLangFromSlug } from '@/helpers/route';

  const select = document.querySelector('#lang-select');

  select?.addEventListener('change', function (e) {
    const selectedLang = e.target?.value || 'es';

    saveLang(selectedLang);

    const { pathname } = window.location;
    const path = stripLangFromSlug(pathname);
    const newPath = `/${selectedLang}/${path}`;

    window.location.replace(newPath);
  });
</script>
