---
import A from './common/a.astro';

const { pathname } = Astro.url;
const items = [
  {
    link: '/projects',
    text: 'Proyectos',
  },
  {
    link: '/blog',
    text: 'Blog',
  },
];
---

<!-- {JSON.stringify(window.location.href)} -->
<nav class="text-lg sm:text-xl flex font-medium mb-10 sm:mb-12">
  <A href="/">
    <strong class="text-transparent bg-clip-text bg-gradient-to-r gradient">
      Juansereina
    </strong>
  </A>
  <ul class="flex gap-4 ml-auto">
    {
      items.map(({ link, text }) => (
        <li>
          <A href={link} isActive={link === pathname}>
            {text}
          </A>
        </li>
      ))
    }
    <li class="flex items-center">
      <button id="theme-toggle" type="button">
        <i class="dark:hidden fa-solid fa-moon"></i>
        <i class="hidden dark:inline fa-solid fa-sun"></i>
      </button>
    </li>
  </ul>
</nav>
