---
import { getLanguageFromURL } from '@/utils';
import A from './common/a.astro';

const { pathname } = Astro.url;
const lang = getLanguageFromURL(pathname);

const items = [
  {
    link: '/projects',
    text: 'Proyectos',
  },
  {
    link: '/blog',
    text: 'Blog',
  },
];
---

<nav class="text-lg sm:text-xl flex font-medium mb-10 sm:mb-12">
  <A href="/">
    <strong class="text-transparent bg-clip-text bg-gradient-to-r gradient">
      Juansereina
    </strong>
  </A>
  <ul class="flex gap-4 ml-auto">
    {
      items.map(({ link, text }) => {
        const path = `/${lang}${link}`;
        return (
          <li>
            <A href={path} isActive={path === pathname}>
              {text}
            </A>
          </li>
        );
      })
    }
    <li class="flex items-center">
      <button id="theme-toggle" type="button" title="Change color theme">
        <i id="theme-dark-icon" class="hidden dark:inline fa-solid fa-sun"></i>
        <i id="theme-light-icon" class="dark:hidden fa-solid fa-moon"></i>
      </button>
    </li>
  </ul>
</nav>

<script defer>
  const themeToggleBtn = document.getElementById('theme-toggle');

  themeToggleBtn.addEventListener('click', function () {
    const currentlyDark = document.documentElement.classList.contains(dark);
    document.documentElement.classList.toggle(dark);
    localStorage.setItem(colorTheme, currentlyDark ? light : dark);
  });
</script>
