<nav class="text-lg sm:text-xl flex font-medium mb-10 sm:mb-12">
  <a href="/">
    <span
      class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-cyan-300"
      >Juansereina</span
    >
  </a>
  <ul class="text-white flex gap-4 ml-auto">
    <li class="hover:text-cyan-300">
      <a href="/blog/es">Blog</a>
    </li>
  </ul>
</nav>
