@import '../Common/scss/mixin';

.root {
  box-sizing: border-box;
  height: 100%;
  padding-left: 3.125rem;
  position: absolute;
  width: 100%;
  @include mq($phone-large) {
    padding-left: 0;
  }
}
