@import '../Common/scss/mixin.scss';

.root {
  .contaier {
    background-color: $secondary;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: rem(500);
    padding: rem(40) 0 rem(30);
    justify-content: center;
  }

  .content {
    color: $white;
  }

  .title,
  .subtitle {
    margin: 0;
  }

  .title {
    font-weight: $font-regular;
    margin-bottom: rem(10);
  }

  .subtitle {
    font-weight: $font-light;
  }

  .background {
    background-color: $primary;
    width: 100%;
    height: rem(120);
    clip-path: polygon(0 0, 10% 10%, 100% 100%, 0 100%);
  }
}
