@import '../Common/scss/mixin.scss';

.root {
  .contaier {
    background-color: $secondary;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    padding: rem(40) 0 rem(30);
    grid-template-columns: 1fr minmax(auto, 724px) minmax(auto, 300px) 1fr;
  }

  .content {
    color: $white;
    grid-column: 2;
  }

  .title,
  .subtitle {
    margin: 0;
  }

  .title {
    font-weight: $font-regular;
    margin-bottom: rem(10);
  }

  .subtitle {
    font-weight: $font-light;
  }

  .social {
    grid-column: 3;
    justify-content: flex-end;
  }

  .background {
    background-color: $primary;
    width: 100%;
    height: rem(120);
    clip-path: polygon(0 0, 10% 10%, 100% 100%, 0 100%);
  }
}
