@import '../common/Scss/mixin';

.root {
  .container {
    background-color: var(--secondary);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr minmax(auto, rem(724)) minmax(auto, rem(300)) 1fr;
    padding: rem(40) rem(30) rem(30);
    row-gap: rem(10);

    @include mq($bk-s) {
      grid-auto-flow: row;
      grid-template-columns: 1fr;
    }
  }

  .content {
    color: var(--tertiary);
    grid-column: 2;

    @include mq($bk-s) {
      grid-column: 1;
    }
  }

  .title,
  .subtitle {
    color: var(--typography-color-secondary);
    margin: 0;
  }

  .title {
    margin-bottom: rem(10);
  }

  .social {
    grid-column: 3;
    justify-content: flex-end;

    @include mq($bk-s) {
      grid-column: 1;
      justify-content: flex-start;
    }
  }

  .background {
    background-color: var(--primary);
    clip-path: polygon(0 0, 10% 10%, 100% 100%, 0 100%);
    height: rem(120);
    width: 100%;
  }
}
