---
export interface Props {
  classes?: string;
  href: string;
}
const { classes, href } = Astro.props;
---

<a class={`group transition duration-200 ${classes}`} href={href}>
  <slot />
  <span
    class="block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-cyan-300 -mt-1"
  ></span>
</a>
