.icon {
    color: $main-color;
    margin: 0.5em 0; 
    font-size: 1.2rem;
    &:hover {
      color: $light-blue;
    }
    &:active {
      color: $light-blue;
    }
  }
  .iconActive {
    font-size: 1.8rem;
    color: $neon;
}