$light-blue: #01c0bb;
$depp-blue: #02162b;
$main-color: #fff;
$form-color: transparentize($depp-blue, .9);
$gray-color: rgba(255, 255, 255, 0.21);
$gray-two-color: rgba(255, 255, 255, 0.81);

$phone-large: 26.5625rem;
$phone-medium: 23.4375rem;
$phone-small: 21.25rem;
