@import '../common/Scss/mixin';

.root {
  align-items: center;
  background-color: var(--white);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr minmax(auto, rem(724)) minmax(auto, rem(300)) 1fr;
  height: rem(120);
  margin: 0 auto;
  padding: 0 rem(30);
  position: sticky;
  top: 0;
  transition: box-shadow .5s;
  z-index: 2;

  @include mq($bk-s) {
    justify-items: center;
  }

  &.shadow {
    box-shadow: 0 rem(3) rem(5) 0 rgba(0, 0, 0, .1);
  }

  .logo {
    color: var(--primary);
    cursor: pointer;
    flex: 1;
    font-size: rem(30);
    font-weight: var(--font-bold);
    grid-column: 2;
    transition: color .2s ease-in-out;

    @include mq($bk-m) {
      font-size: rem(28);
    }

    @include mq($bk-s) {
      font-size: rem(24);
    }

    &:hover {
      color: var(--secondary);
    }
  }

  .list {
    column-gap: clamp(rem(10), 6vw, rem(32));
    display: grid;
    grid-auto-flow: column;
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item {
    color: var(--primary);
    cursor: pointer;
    font-weight: 400;
    transition: color .2s ease-in-out;

    &::after {
      background-color: var(--secondary);
      content: ' ';
      display: block;
      height: rem(2);
      margin: 0 auto;
      transition: width .2s ease-in-out;
      width: 0;
    }

    &:hover {
      color: var(--secondary);
    }

    &:hover::after {
      width: 100%;
    }
  }

  .item:nth-child(3) {
    @include mq($bk-s) {
      display: none;
    }
  }
}
