@import '../common/Scss/mixin';

.root {
  .section {
    display: grid;
    gap: rem(20);
    justify-content: center;
    grid-template-columns: repeat(2, rem(502));

    @include mq($bk-l) {
      grid-template-columns: 1fr;
      padding: 0 rem(30);
    }
  }

  .image {
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;

    &Container {
      height: max-content;
      position: relative;

      &::before {
        content: ' ';
        display: block;
        padding-top: 56.25%;
        width: 100%;
      }
    }
  }

  .title {
    color: var(--primary);
    margin-top: 0;
  }

  .text,
  .item {
    color: var(--typography-color);
    font-weight: var(--font-light);
  }

  .item {
    margin-bottom: rem(10);

    &::marker {
      content: '👨‍💻 \00a0';
    }
  }

  .current {
    color: var(--quaternary);
  }
}
