@import '../common/Scss/mixin';

.root {
  background-color: var(--tertiary);
  border: 0;
  border-radius: 100%;
  bottom: 5%;
  color: var(--primary);
  cursor: pointer;
  opacity: 0;
  padding: rem(10) rem(14);
  z-index: 1;

  &:hover {
    color: var(--nav-text-hover);
  }

  &.visible {
    opacity: 1;
  }

  .icon {
    height: rem(20);
  }
}
